<?xml version="1.0"  encoding="UTF-8"?>
<!--
/**
 * Copyright © Nimasystems (info@nimasystems.com). All rights reserved.
 * Please visit Nimasystems.com for license details
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <googledrivecore>
            <google_drive_settings>
            </google_drive_settings>
        </googledrivecore>
    </default>
</config>
