<?xml version="1.0"?>
<!--
/**
 * Copyright © Nimasystems (info@nimasystems.com). All rights reserved.
 * Please visit Nimasystems.com for license details
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="googledrivecore" translate="label" sortOrder="-9999">
            <label>Google Drive</label>
        </tab>
        <section id="googledrivecore" translate="label" type="text" sortOrder="-9999" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <tab>googledrivecore</tab>
            <label>Google Drive</label>
            <resource>Nimasystems_GoogleDriveCore::config</resource>
            <group id="google_drive_settings" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Google Drive Settings</label>
                <field id="module_version" type="note" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="1"
                       translate="label">
                    <label>Module version</label>
                    <frontend_model>Nimasystems\GoogleDriveCore\Block\Adminhtml\System\Config\Form\Field\Version</frontend_model>
                </field>
                <field id="service_account" translate="label" type="textarea" sortOrder="10" showInDefault="1"
                       showInWebsite="1"
                       showInStore="1" canRestore="1">
                    <label>Service Account</label>
                </field>
            </group>
        </section>
    </system>
</config>
